{% extends "base.html.twig" %}
{% block title %}Travel Advantage Avis - Découvrez les Retours et Expériences{% endblock %}

{% block content %}
    <div class="container mx-auto px-4">
            <!-- <h1 class="text-3xl font-bold text-center py-4">Avis et Expériences chez Travel Advantage : Votre Guide Complet</h1>-->
            <h1 class="text-3xl font-bold text-center py-4">{{ content.maintitle|raw }}</h1>
            <!-- Section 1 : Bienvenue chez Travel Advantage -->
            <section class="container mx-auto p-4">
                <h2 class="text-2xl font-bold">{{ content.sectiononetitle|raw }}</h2>
                {{ content.sectiononecontent|raw }}
                <h3 class="text-xl font-semibold">{{ content.sectiononetitle2|raw }}</h3>
                {{ content.sectiononecontent2|raw }}
                
                {# Check if the array is not empty before accessing the 'target' key #}
                <a href="{{ content.btnurl }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full text-center block">
                    {{ content.btntext }}
                </a>
                 {# 
                <h3 class="text-xl font-semibold">Pourquoi Choisir Travel Advantage ?</h3>
                <p>Choisir <strong>Travel Advantage</strong>, c'est opter pour une expérience de voyage <strong>sans égal</strong>. Nous offrons une <strong>vaste gamme de destinations</strong>, des tarifs <strong>compétitifs</strong> et des <strong>options d'abonnement flexibles</strong> qui s'adaptent à tous les types de voyageurs. Notre plateforme <strong>simplifie la planification</strong> de vos voyages, en vous offrant des <strong>économies significatives</strong> et un accès exclusif à des <strong>offres spéciales</strong>. De plus, notre équipe dévouée est toujours prête à vous assister, garantissant ainsi des <strong>voyages sans tracas</strong> et des <strong>souvenirs inoubliables</strong>.</p>

                <a href="#avis" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full text-center block">
                    Voir les Avis
                </a>
                #}

            </section>

               

            <!-- Section 2 : Découverte de Travel Advantage -->

            
                {% for block in content.blocks %}
                    <section class="container mx-auto p-4">
                        {% set blockType = block.type %}
                        {% include 'includes/blocks/' ~ blockType|default('default') ~ '.html.twig' with {
                            content: block,
                            view: view.blocks[loop.index0],
                        } %}
                    </section>
                {% endfor %}

            <!-- Section 3 : Les Offres de Travel Advantage 
            <section class="container mx-auto p-4">
                <h2 class="text-2xl font-bold">Les Offres de Travel Advantage</h2>
                <p>Travel Advantage vous ouvre les portes d'un univers de voyages exceptionnels. Notre plateforme propose une sélection diversifiée de destinations, allant des joyaux cachés aux villes les plus prisées. Que vous cherchiez une aventure en pleine nature ou une escapade culturelle en ville, Travel Advantage a l'offre qu'il vous faut.</p>

                <h3 class="text-xl font-semibold">Destinations Populaires</h3>
                <p>Explorez nos destinations les plus populaires, choisies par nos clients pour leur beauté, leur richesse culturelle et leurs expériences uniques. Des plages paradisiaques des Caraïbes aux métropoles vibrantes d'Asie, en passant par les trésors historiques de l'Europe, chaque destination offre une aventure inoubliable.</p>

                <h3 class="text-xl font-semibold">Offres Exclusives pour les Membres</h3>
                <p>En tant que membre de Travel Advantage, accédez à des offres exclusives conçues pour rendre votre voyage encore plus spécial. Bénéficiez de réductions sur les hôtels de luxe, d'offres spéciales sur les vols et locations de voiture, ainsi que d'accès à des événements et expériences locaux réservés à nos membres. Nos offres exclusives sont régulièrement mises à jour pour vous garantir les meilleures options de voyage à tout moment.</p>
            </section>
            -->
            <!-- Section 4 : Témoignages et Avis -->
            <section class="container mx-auto p-4" id="avis">
                <h2 class="text-2xl font-bold">
                {{ content.témoignagessectiontitle|raw }}

                </h2>
                {{ content.témoignagessectionocontent|raw }}

                {% for block in content.témoignagesblocks %}
                   
                        {% set blockType = block.type %}
                        {% include 'includes/blocks/' ~ blockType|default('default') ~ '.html.twig' with {
                            content: block,
                            view: view.témoignagesblocks[loop.index0],
                        } %}
                   
                {% endfor %}
                
            </section>

            <!-- Section 5 : Niveaux d'Abonnement -->
            <section class="container mx-auto p-4">
                <h2 class="text-2xl font-bold">{{ content.niveauxsectiontitle|raw }}</h2>
                
                {{ content.niveauxsectionocontent|raw }}
                
                {% for block1 in content.niveauxblocks %}
                        {% set blockType = block1.type %}
                        {% include 'includes/blocks/' ~ blockType|default('default') ~ '.html.twig' with {
                            content: block1,
                            view: view.niveauxblocks[loop.index0],
                        } %}
                {% endfor %}

            </section>

            <!-- Section 6 : Réductions et Économies -->
            {% for block6 in content.blocks6 %}
                <section class="container mx-auto p-4">
                    {% set blockType = block6.type %}
                    {% include 'includes/blocks/' ~ blockType|default('default') ~ '.html.twig' with {
                        content: block6,
                        view: view.blocks6[loop.index0],
                    } %}
                </section>
            {% endfor %}
            
        </div>
{% endblock %}