<!DOCTYPE html>
{# <html lang="{{ app.request.locale|split('_')[0] }}"> #}
<html lang="fr">
{% set snippets = sulu_snippet_load_by_area('default') %}
{# <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
        } %}
    {% endblock %}

    {% block style %}{% endblock %}
</head> #}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{% block title %}Travel Advantage Avis - Découvrez les Retours et Expériences{% endblock %}</title>
     <link href="{{ asset('css/output.css') }}" rel="stylesheet">
    <meta name="description" content="Explorez les avis et témoignages sur Travel Advantage. Découvrez comment Travel Advantage transforme 
        les voyages de ses membres avec des offres uniques.">
    {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
        } %}
    {% endblock %}
    <link rel="canonical" href="https://travel-advantage-avis.com">
    <link rel="icon" href="{{ asset('images/cropped-ta_logo-32x32.png') }}" sizes="32x32">
    <link rel="icon" href="{{ asset('images/cropped-ta_logo-192x192.png') }}" sizes="192x192">
    <link rel="apple-touch-icon" href="{{ asset('images/cropped-ta_logo-180x180.png') }}">
    {% block style %}{% endblock %}
</head>
<body class="bg-gray-100">
    <header class="flex justify-center items-center">
        {% block header %}
            {% set logoImageUrl = null %}
            {% if snippets is not empty and snippets.content.logoimages is defined %}
                {# Get the URL of the logo image #}
                {% set logoImageUrl = snippets.content.logoimages.getUrl() %}
            {% endif %}
            
            <img title="Travel Advantage" alt="Travel Advantage" width="160" height="70" src="{{ logoImageUrl|default("asset('images/logo.webp')") }}" class="py-2" /> 
           
            {#
            <nav>
                <ul>
                    <li>
                        <a href="{{ sulu_content_root_path() }}">Homepage</a>
                    </li>

                    {% for item in sulu_navigation_root_tree('main') %}
                        <li>
                            <a href="{{ sulu_content_path(item.url, item.webspaceKey) }}"
                               title="{{ item.title }}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            #}
            
        {% endblock %}
    </header>
    {#
    <form action="{{ path('sulu_search.website_search') }}" method="GET">
        <input name="q" type="text" placeholder="Search"/>
        <input type="submit" value="Go"/>
    </form>
    #}


    <main>
        {% block content %}{% endblock %}
    </main>
    


    <footer class="text-white bg-blue-500 p-4">
        {% block footer %}

            {% set defaultCopyrightText = null %}
            {% set defaultSnippet = snippets %}
            {# Check if 'content' key and 'title' key are defined in the snippet #}
            {% if defaultSnippet is not null and defaultSnippet.content is defined and defaultSnippet.content.copyright_text is defined %}
                {% set defaultCopyrightText = defaultSnippet.content.copyright_text %}
            {% endif %}
           <p class="mx-auto">© {{ 'now'|date('Y') }}  {{ defaultCopyrightText|default("travel-advantage-avis® | Site créé par un groupe d'entrepreneurs indépendants, membres de Travel Advantage et MWR Life.")|raw }}</p>

        {% endblock %}
    </footer>

    {% block javascripts %}{% endblock %}
</body>
</html>
